<%- include('template/header'); -%>
<%- include('template/navbar'); -%>

<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Cashier</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
     <% dataProduct.forEach((v)=>{ %>
      <tr>
        <th scope="row"><%= v.id%></th>
        <td><%= v.cashier%></td>
        <td><%= v.category%></td>
        <td><%= v.name%></td>
        <td><%= v.price%></td>
        <td>
            <a href="" class="badge badge-success mr-2" data-toggle="modal" data-target="#editModal<%=v.id%>">edit</a>
            <a href="/delete?id=<%= v.id%>" class="badge badge-danger mr-2">delete</a>        
        </td>
        </tr>
      <%})%>

    </tbody>
  </table>


<!-- Modal -->
<% dataProduct.forEach((v)=>{%>
<div class="modal fade" id="editModal<%= v.id%>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form action="/edit" method="POST">
                      <input type="hidden" value="<%= v.id%>" name="id">
                        <div class="form-group">
                            <label for="cashier">Cashier</label>
                            <select class="form-control" id="cashier" name="id_cashier">
                              <% dataCashier.forEach((v)=>{%>
                              <option value="<%= v.id%>"><%= v.name%></option>
                              <%})%>
                            </select>
                          </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" name="id_category">
                              <% dataCategory.forEach((v)=>{%>
                                <option value="<%= v.id%>"><%= v.name%></option>
                                <%})%>
                              </select>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= v.name%>">
                          </div>
                          <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" name="price" value="<%= v.price%>">
                          </div>
                        
                    <button type="submit" class="btn btn-warning text-white">Save</button>
                  </form>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
<%})%>








<%- include('template/footer'); -%>